<!DOCTYPE html>
<html>
<head>
  <title>dataBEAST</title>
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <!-- Modernizr -->
  <!-- <script src="/js/vendor/modernizr.js"></script> -->
  <!-- <link rel="application/javascript" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/modernizr.js"/> -->
  <!-- Foundation -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css"/>
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>

    <!-- navbar -->
    <div class="row">
      <div class="small-12 large-12 columns navbar">
        <!-- logo -->
        <span class="logo">data<img class="kitten" src="assets/kitten.jpg"/><b>BEAST</b></span>    
        <!-- dropdown nav -->
  <!--       <select name="options" class="dropdown" value="I want to...">
          <option>I want to...</option>
          <option href="#">Create a New Item</option>
          <option href="#">Edit an Item</option>
          <option href="#">Delete an Item</option>
          <option href="#">View My Books</option>
          <option href="#">View My CDs</option>
          <option href="#">View My DVDs</option>
          <option href="#">View My Video Games</option>
        </select> -->

        <a href="#" data-dropdown="drop1" class="button dropdown">Dropdown Button</a><br>
        <ul id="drop1" class="f-dropdown" data-dropdown-content>
          <li><a href="#">This is a link</a></li>
          <li><a href="#">This is another</a></li>
          <li><a href="#">Yet another</a></li>
        </ul>

      </div>
    </div>

    <!-- yield -->
    <%= yield %>

    <!-- jQuery -->
    <!-- NOT NECESSARY <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>   -->

    <!-- Foundation -->
    <!-- <link rel="application/javascript" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js"/> -->
    
    <!-- <script src="/js/foundation.min.js"></script> -->
    <!-- NOT NECESSARY <script src="/js/vendor/jquery.js"></script> -->
    <!-- <script src="/js/vendor/fastclick.js"></script>  -->
    <!-- <link rel="application/javascript" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/fastclick.min.js"/> -->

    
    <!-- DUPLICATE DUPLICATE DUPLICATE <script src="js/foundation/foundation.js"></script> -->
    <!-- <script src="js/foundation/foundation.dropdown.js"></script> -->
    <!-- <link rel="application/javascript" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation/foundation.dropdown.min.js"/> -->

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

    <!-- initializing DataTables and Foundation -->
    <script type="text/javascript">
      $(document).ready( function () {
        $('#table_id').DataTable();
      });

      $('.dropdown').on('click', function(){
        console.log("i've been clicked");
      })

      $(document).foundation({
        dropdown: {
          // specify the class used for active dropdowns
          active_class: 'open'
        },
        tab: {
          callback : function (tab) {
            console.log(tab);
          }
        }
      });
    </script>

  </body>
</html>








