<!DOCTYPE html>
<html>
<head>
  <title>dataBEAST</title>
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
  <!-- font awesome -->
  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- Foundation -->
  <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css"/> -->
  <!-- DataTables CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>

    <!-- navbar -->
    <div class="row">
      <div class="small-12 large-12 columns navbar">
        <!-- logo -->
        <span class="logo">data<img class="kitten" src="assets/kitten.jpg"/><b>BEAST</b></span>    
        <!-- dropdown nav -->
        <a href="#" data-dropdown="drop1" class="button dropdown">I want to...</a><br>
        <ul id="drop1" class="f-dropdown" data-dropdown-content>
          <li><a href="/books">View My Books</a></li>
          <li><a href="/cds">View My CDs</a></li>
          <li><a href="/dvds">View My DVDs</a></li>
          <li><a href="/video_games">View My Video Games</a></li>
          <hr>
          <li><a href="#tabsWrapper">Create a New Item</a></li>
          <li><a href="#tabsWrapper">Edit an Item</a></li>
          <li><a href="#tabsWrapper">Delete an Item</a></li>
        </ul>

      </div>
    </div>

    <!-- yield -->
    <%= yield %>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

    <!-- initializing DataTables and Foundation -->
    <script type="text/javascript">
      $(document).ready( function () {
        $('#table_id').DataTable();
      });

      $(document).foundation({
        dropdown: {
          // specify the class used for active dropdowns
          active_class: 'open'
        },
        tab: {
          callback : function (tab) {
            console.log(tab);
          }
        }
      });
    </script>

  </body>
</html>








